<mat-card>
  <mat-card-header>
      <mat-card-title><strong>{{ hero.name }}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Birth Date: <strong>{{ hero.birth_year }}</strong>
    </p>
    <p>
      Eyes:  <mat-icon [ngClass]="hero.eye_color">remove_red_eye</mat-icon>
    </p>
    <p>
      Gender: <strong>{{ hero.gender }}</strong>
    </p>

    <p>
      Hair:  <strong>{{ hero.hair_color }}</strong>
    </p>
    <p>
      Height: <strong>{{ hero.height }}cm</strong>
    </p>
    <p>
      Weight: <strong>{{ hero.mass }}kg</strong>
    </p>
  </mat-card-content>
</mat-card>
